/*
    Created on : Jan 7, 2016, 3:02:33 PM
    Author     : Me
*/

body{
    font-family: Calibri, Arial, sans-serif;
    color: darkslateblue;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.background {
    background-color:#E4E4E4;
    padding: 1%;
}

h1{
    text-align:center;
    color: darkcyan;
}

a {
    color:forestgreen;
}

#footer {
    text-align: center;
    margin-left:auto;
    margin-right:auto;
}

#posts {
    padding: 2%;
}

input[type="text"]
{
    font-size:11pt;
}

#login {
    width:75%;
    margin-left:auto;
    margin-right:auto;
    padding: 5%;

}

.loglabel{
    display:inline-block;
    width:10em;
}


.message {
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    color:darkmagenta;
    padding: 5%;
    border-style:dotted;
}

.btn {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #33bdef), color-stop(1, #019ad2));
    background:-moz-linear-gradient(top, #33bdef 5%, #019ad2 100%);
    background:-webkit-linear-gradient(top, #33bdef 5%, #019ad2 100%);
    background:-o-linear-gradient(top, #33bdef 5%, #019ad2 100%);
    background:-ms-linear-gradient(top, #33bdef 5%, #019ad2 100%);
    background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bdef', endColorstr='#019ad2',GradientType=0);
    background-color:#33bdef;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
}
.btn:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #019ad2), color-stop(1, #33bdef));
    background:-moz-linear-gradient(top, #019ad2 5%, #33bdef 100%);
    background:-webkit-linear-gradient(top, #019ad2 5%, #33bdef 100%);
    background:-o-linear-gradient(top, #019ad2 5%, #33bdef 100%);
    background:-ms-linear-gradient(top, #019ad2 5%, #33bdef 100%);
    background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#019ad2', endColorstr='#33bdef',GradientType=0);
    background-color:#019ad2;
}